.header{
    width: 100%;
    height: 100px;
    background-color: #070808;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0 30px;
    
}

/* Logo */
.logo{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-img{
    width:140px;
    margin-bottom: 17px;
   
}

.logo-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    
    
}

.logo-text b {
    margin-left: 10px ;
    color: #e5c962;
    font-weight: 600;
    font-size: 26px;
    font-family:cursive;
}

/* Nav */
.navbar-links{
    display: flex;
    align-items: center;
    
    
    
}
.navbar-link{
    margin: 0 15px;
    font-size: 21px;
    font-weight: 250;
    color: #e5c962;
    cursor: pointer;
    text-decoration: none;
}

.navbar-link:hover{
    text-decoration: underline #e5c962;
}

.navbar-link i {
    margin-right: 4px;
}


/* header-menu */
.header-menu {
    display: none;
    font-size: 40px;
    cursor: pointer ;
    color: #e5c962;
    
}

/* Media Queries */
@media (max-width:720px){
    .header{
        justify-content: space-between;
        
    }
    .header-menu{
        display: block;
        margin: 0 50px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
        transition: all 1s ease;
       
    }

    .navbar-links{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 50px;
    }

    .navbar-link{
        margin: 15px 0;
    }

    .logo-text b {

        color: #0a090b;
        font-size: 27px;
        font-family:cursive;
    }

    .logo-img{
        width:120px;

       
    }

    .logo{
        width: 200px;
        margin-left: 70px;

    
    }
}