.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    background: #162847;
    flex-wrap: wrap;
}

.footer-item{
    color: white;
    padding: 20px;
}

.footer-item-list{
    padding: 5px;
}

.footer-item-title{
    margin-bottom: 10px;
   
}
.footer-item-link{
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;

}
.footer-item-link:hover{
    text-decoration: underline ;
}

/* footer Icons */

.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-icons .icon{
    width: 50px;
    height: 50px;
    background-color: rgb(15, 4, 4);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
   
}

.footer-icons .icon i{
    font-size: 32px;
}


/* footer select box Languages currencies */


.select-box{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    color:#e5c962;
    
}

.select-box-label{
    font-weight: 500;
    margin: 7px;
    font-size: 21px;
}

.select-box-input{
    padding: 10px 15px;
    border: none;
    font-size: 17px;
    border-radius: 17px;
    outline: none;

}

.footer-copy-right{
    color:#e5c962;
    font-size: 17px;
    margin-top: 30px;
    padding: 10px;
}


@media (max-width : 720px){
    .footer{
        flex-direction: column;
        
    }
}