.tour{
    padding: 30px;

}

.tour-step{
    font-size: 17px;
    font-weight: 500;
    color:  gray;
}

.tour-step i {
    font-size: 12px;
}

.tour-category{
    background-color: rgb(2, 2, 50);
    color:  #e5c962;
    font-weight: 600;
    padding: 5px 10px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 21px;
    width: max-content;
}
.tour-title{
    color:  #201f1b;
}

.tour-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.tour-provider{
    margin-left : 24px;
    font-size: 17px;
    
}
.tour-provider span{
    color: #c69e0c;
}